$colors: (
Dark-Gray: hsl(0, 0%, 63%),
Black: hsl(0, 0%, 0%),
 White: hsl(0, 0%, 100%),
 Very-Dark-Gray: hsl(0, 0%, 27%),
);

@function color($color){
  @return map-get($colors, $color)
};



